.sidebar {
  height: calc(100vh - 90px);
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: 50%;
  display: block;
  background: linear-gradient(180deg,#e14eca 0,#ba54f5);
  margin-top: 80px;
  margin-left: 20px;
  border-radius: 5px;

}

.select {
  background-color: rgba(255,255,255,0.4);
}

.nav>li>a {
  color: white;
  font-weight: 100;
  transition: All 1s ease;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.4);
    transition: All 1s ease;

}
